*, ::before, ::after {margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --grid-lines: rgb(199, 199, 199);
  --etch-bgcolor: #d10f17;
  --etch-border-color: #f0aa2a;
  --etch--screen-size: 700px;
  --white-color: #ffffff;
  --black: #000000;
}

/* | Blocks */

body {
  background-color: var(--etch-bgcolor);
}

#wrap {
  display: grid;
  width: var(--etch--screen-size);
  height: var(--etch--screen-size);
  border: 5px solid var(--etch-border-color);
}

.pixel {
  background-color: var(--white-color);
  border: 1px solid var(--grid-lines);
}

 /* | Utilities */

 /* | Modifiers */